<!DOCTYPE html>
<html lang="en">
<head>
  <title>Services Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1> Employee List</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-warning" *ngFor="let e of employees;">
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.emailId}}</td>
        <td>
            <button (click)="updateEmployee(e.id)" class="btn btn-primary">Update</button>
            <button (click)="deleteEmployee(e.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            <button (click)="employeeDetails(e.id)" class="btn btn-info" style="margin-left: 10px;">View</button>
        
        
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
